<div class="nav-items">
    <div class="items-row">
      <div class="row">
        <div class="d-flex">
          <a class="content"><i class="bi bi-eye-fill"></i>
            <span id="tooltipText">Preview</span>
          </a>&nbsp;&nbsp;
          <a><i class="bi bi-printer-fill"></i></a>&nbsp;&nbsp;
          <a class="vector"><img src="./assets/Vector.png" alt="vector" width="26px"></a>
        </div>
      </div>
  
  
      <div class="row">
        <span class="col-md-6">
          <div class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <span>COMMON INTERACTION</span>
          </div>
          <div class="card" style="width: 28rem;"></div>
          <ul class="dropdown-menu dropdown-menu">
              <div class="down-icons">
                <div class="row">
                  <div class="col-md-6">
                    <div class="icon mt-1 dropdown-item" *ngFor="let itemsicons of items1Array">
                        <img src="{{itemsicons.icons}}" width="70px">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="icon mt-1 dropdown-item" *ngFor="let itemsicons of items2Array">
                        <img src="{{itemsicons.icons}}" width="70px">
                    </div>
                  </div>
                </div>
              </div>
          </ul>
        </span>
        
        <div class="iteraction">
          <div class="nav-link dropdown-toggle" aria-expanded="false">
            <span>INLINE INTERACTION</span>
          </div>
          <hr>
          <div class="nav-link dropdown-toggle" aria-expanded="false">
            <span>GRAPHICS INTERACTION</span>
          </div><hr>
          <div class="nav-link dropdown-toggle" aria-expanded="false">
            <span>CUSTOM &nbsp;&nbsp;INTERACTION</span>
          </div><hr>
        </div>
      </div>
    </div>
    <div class="savebtn">
        <img src="./assets/save.png" width="100px" alt="save">
    </div>
  


  
   