app-items {
    margin-left: 0%;
 }
 i {
    font-size: 20px;
    color: #0C747E;
    list-style: none;
 }
 .d-flex {
    margin-left: 530%;
 }
 .d-flex i {
    margin-left: 25px;
    font-size: 22px;
 }
 a:hover {
    cursor: pointer;
 }
 .savebtn {
    margin-left: 560%;
    margin-top: 10px;
   cursor: pointer;
 }
 .dropdown-toggle{
   color:#0C747E;
   cursor: pointer;
 }
 .iteraction{
   margin-left: 8px;
 }

.inline{
   /* padding-right: 18px; */
   margin-bottom: 3px;
   padding: 0px;
   font-size: 12px;
   font-weight: 700;
   /* padding-left: 7px; */
}
 .graphics{
   margin-bottom: 6px;
     font-size: 6px;
     font-weight: 600;
}
 .custom{
   margin-top: 3px;
   padding: 0px;
   font-weight: 700;
   font-size: 10px;
}

 span{
    font-size: 12px;
    font-weight: bold;
    color: #0C747E;
 }
 .card{
   margin-top: 110px;
    margin-left: 480px;
    height: 220px;
    border-radius: 15px;
    border: 2.2px  solid #0C747E;
 }
 .icon:hover{
   cursor: pointer;
 }
 .row{
   margin-right: 5px;
 }
 .vector{
   margin: 5px 22px;
 }
 #tooltipText{
    position: absolute;
    top: 0px;
    transform: translateX(-70%);
    background-color: #000;
    color: #fff;
    padding: 4px 6px;
    white-space: nowrap;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
 }
 #tooltipText::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 8px solid;
    border-color: #0000 #0000 #000 #0000 ;
 }
 .content:hover #tooltipText{
    top: 40px;
    visibility: visible;
    opacity: 1;
 }
 .dropdown-toggle{
   border-top: 2px solid #0C747E;
   padding: 7px 15px;
 }
 .custom{
   border-bottom: 2px solid #0C747E;
 }
 .common{
   border-top: none;
   border-bottom: 2px solid #0C747E;
 }
 
 