<div class="nav-items">
    <div class="items-row">
      <div class="row">
        <div class="d-flex">
          <a class="content"><i class="bi bi-eye-fill"></i>
            <span id="tooltipText">Preview</span>
          </a>&nbsp;&nbsp;
          <a><i class="bi bi-printer-fill"></i></a>&nbsp;&nbsp;
          <a class="vector"><img src="./assets/Vector.png" alt="vector" width="26px"></a>
        </div>
      </div>
  
  
      <div class="row">
        <span class="col-md-12">
            <div class="nav-link dropdown-toggle " href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <span>COMMON INTERACTION</span>
            </div>

          
          <div class="card" style="width: 28rem;"></div>

          <ul class="dropdown-menu dropdown-menu">
              <div class="down-icons">
                <div class="row">
                  <div class="col-md-6">
                    <div class="icon mt-1 dropdown-item" *ngFor="let itemsicons of items1Array">
                        <img src="{{itemsicons.icons}}" width="70px">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="icon mt-1 dropdown-item" *ngFor="let itemsicons of items2Array">
                        <img src="{{itemsicons.icons}}" width="70px">
                    </div>
                  </div>
                </div>
              </div>
          </ul>
        </span>

        
        <div class="iteraction">
          <div class="inline">
            <!-- <select class="mb-1">
              <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INLINE&nbsp; INTERACTION</option>
            </select> -->
            <div class="nav-link dropdown-toggle " href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INLINE&nbsp; INTERACTION</span>
            </div>
          </div>
          <!-- <select class="mb-1">
            <option value="">GRAPHICS INTERACTION</option>
          </select> -->
          <div class="nav-link dropdown-toggle " href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <span>GRAPHICS INTERACTION</span>
          </div>
          <div class="custom">
            <!-- <select>
              <option value="">CUSTOM &nbsp; INTERACTION</option>
            </select> -->
            <div class="nav-link dropdown-toggle " href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <span>CUSTOM &nbsp; INTERACTION</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="savebtn">
        <img src="./assets/save.png" width="100px" alt="save">
    </div>
  


  
   